# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# Temporary files
*.log

# Ignore raw data, but keep the directory placeholder
data/raw/*
!data/raw/.gitkeep

data/processed/AAPL_options_clean.csv